<div id="container">
	<h1>Your link stats:</h1>
		<p><h3>Your original link:</h3> <%= @link_url %></p>
		<p><h3>Number of clicks:</h3> <%= @link_count %></p>
		<p><h3>Short url:</h3> <%= root_url + @link_shorturl %></p>
</div>